html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #F5F5F5;
    color: #333333;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #333333;
    background-color: #EDEDED;
    border: 1px solid black;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

button {
    color: #F5F5F5;
    background-color: #FF6F61;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #4A4A4A;
    cursor: pointer;
}

#empty-message {
    text-align: center;
    font-size: 20px;
    color: #777;
    margin: 20px 0;
    display: none; /* Hidden by default */
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #FFD700;
    cursor: pointer;
}
